<div class="container-fluid">
  <div id="divRow" class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <img src="../assets//img/weeclaims.webp" class=" img-fluid p-2" alt="weeclaims">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 align-self-center">

      <p class="fs-4 text-primary fw-bold mt-3">
        <span *ngIf="nombre === ''">Ingresa datos</span>
        <span *ngIf="nombre !== ''">{{'Datos de ' + nombre}}</span>
      </p>

      <div class="form-floating mb-3">
        <input [(ngModel)]="nombre" type="text" class="form-control" id="inputNombre" placeholder="Nombre practicante">
        <label for="inputNombre">Nombre practicante</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="datos" type="text" class="form-control" id="inputDatos" placeholder="Array Datos">
        <label for="inputDatos">Array Datos</label>
        <div id="emailHelp" class="form-text">Ingresa un número o varios separados por coma ","</div>
      </div>


      <div class="text-center mb-4">
        <div class="btn-group" role="group">
          <button (click)="borrarDatos()" type="button" class="btn btn-danger">Borrar</button>
          <button (click)="guardarData()" type="button" class="btn btn-primary">Guardar</button>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Ordenar
            </button>
            <ul class="dropdown-menu">
              <li><a (click)="ordenarNumeros('mayor')" class="dropdown-item">Mayor a menor</a></li>
              <li><a (click)="ordenarNumeros('menor')" class="dropdown-item">Menor a mayor</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="tableData" class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Dato</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of arrayDatos; let i = index">
                <th>{{i+1}}</th>
                <td>{{dato}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 mt-3 mb-3">
          <p>Numero mínimo: {{numeroMenor}}</p>
          <p>Numero máximo: {{numeroMayor}}</p>
        </div>
      </div>

    </div>

  </div>
</div>